{% load django_bootstrap5 %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type = "text/css" href="{% static 'articles/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    

  {% include "articles/navbar.html" %}
  
    {% block main %}
    {% endblock %}

    
    <!--Footer section-->
   <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <hr class = "mb-4">
          <div class="col-md-4">
            <h1 class ="pb-2">No mad vision</h1>
            <h5 class = "mt-4">The Official Innovative Source
              <br>
               For AI and Business</h5>
            <p>© Nomad Vision 2023</p>
          </div>
          
          
          <div class="footer_btn col-md-4 ms-auto">
            <a href="{% url 'account_signup' %}" class = "me-4">
              sign up
            </a>
            <a href="#">
              contact us
            </a>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
   </footer>

</body>
</html>