{% load django_bootstrap5 %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block css %}
    {% endblock css %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    

  {% include "articles/navbar.html" %}
  
    {% block main %}
    {% endblock %}

  
    <!--Footer section-->
  
    {% include "articles/footer.html" %}

</body>
</html>