{% load crispy_forms_tags %}

<div class = "section">
    <div class="comment">
        <div class="container">
            <div class="row">
                <div class="comment_title">
                    <h2>comments</h2>
                    <button>{{comment_count}}</button>
                </div>
                
                {% for comment in post.comments.all %}
                <div class="comment-content">
                    <div class="user_comment">
                        <h6>{{ comment.author.username }}</h6>
                        <p>{{ comment.content }}</p>
                    </div>
                  
                    <div class="comment_info">
                        <p class = "comment_date">{{ comment.created_at}}</p>
                        {% if comment.author == request.user %}

                        
                        <a href="{% url 'comment_edit' comment.pk %}">edit</a>
                        <a id="delete-button" href="{% url 'comment_delete' comment.pk %}">delete</a>
                        {% endif %}
                        
                    </div>
                </div>
                {% endfor %}
              
                <hr>
                <div class="comment-form">
                    <form action='{% url "comment" post.slug %}' method="post" class="custom-comment-form">
                        {% csrf_token %}
                        {{ comment_form|crispy}}
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>


    