<div class="col-lg-3 col-md-6">
  <div class="card border-0 mx-auto">
    <a href="{% url 'detail' post.slug %}">
      <img src="{{ post.title_image.url }}" alt="{{ post.title }}" class="img-fluid"/>
    </a>
    <div class="card-body">
      <div class="category">
        {% for category in post.category.all %}
        
        <button><a href="{% url 'category_list' category.slug %}">{{ category.name }}</a></button>
        {% endfor %}
      </div>
      <h6><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h6>
    </div>
  </div>
</div>

   



  