
<section class = 'footer'>
    <footer>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <hr class = "mb-4">
              <div class="col-md-4">
                <h1 class ="pb-2">No mad vision</h1>
                <h5 class = "mt-4">The Official Innovative Source
                  <br>
                   For AI and Business</h5>
                <p>© Nomad Vision 2023</p>
              </div>
              
              
              <div class="footer_btn col-md-4 ms-auto">
                <a href="{% url 'account_signup' %}" class = "me-4">
                  sign up
                </a>
                <a href="#">
                  contact us
                </a>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
    </footer>
</section>
  