{% extends "articles/base.html" %}

{% load django_bootstrap5 %}
{%load static%}

{% block css %}
<link rel="stylesheet" type = "text/css" href="{% static 'articles/postlist.css' %}" >
{% endblock css %}
{% block main %}

<!--hero section-->
<div class="hero d-flex align-items-center"id = "home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>
          Everything of AI for Business
        </h1>
      </div>
    </div>
  </div>
</div>


<!--latest articles-->
  

<section id="latest" class = "latest">  
  <div class="container">
    <div class="row">
      <h5>Get in touch with latest featured</h5>
      <hr>
      {% for post in posts %}
      {% include "articles/display_post.html" %}
      {% endfor %}
    </div>
  </div>
</section>

<!--recommended section-->

<section id="recomended" class = "latest">  
  <div class="container">
    <div class="row">
      <h5>Recommendation</h5>
      <hr>
      {% for post in recommended_posts %}
      {% include "articles/display_post.html" %}
      {% endfor %}
    </div>
  </div>
</section>







    




{% endblock %}