{% extends "articles/base.html" %}
{% load django_bootstrap5 %}
{%load static%}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{% static 'articles/postdetail.css' %}">
{% endblock css %}
{% block main %}
<h1>Terms and Condition</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi aliquam sequi distinctio pariatur ducimus. Lorem ipsum dolor sit amet.</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus consequatur dolor consequuntur praesentium dignissimos voluptas autem magnam ea vel impedit?</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus consequatur dolor consequuntur praesentium dignissimos voluptas autem magnam ea vel impedit?</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus consequatur dolor consequuntur praesentium dignissimos voluptas autem magnam ea vel impedit?</p>



{% endblock main %}