@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

body {
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: black;
}

h1,h2,h3,h4,h5,h6,.display-4 {
    color: var(--dark);
    font-weight: 700;
}

.title { 
    font-size: 20px;
    font-weight: 100;
}
a {
    color: var(--dark);
    text-decoration: none;
}

.author{ 
    display: flex;
    align-items: center;
    height:60px;
}

.author p{
    margin-left:30px;
    padding-bottom:35px;
}

.author-image{
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
    min-width: 60px;
    width:60px !important;
    height:60px !important;
    border-radius: 100%;
    padding-top:0px;
}

.author_info{
    max-height:100px;
}

.author_info p{
    margin-top:65px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.author .pub_date{
    margin-top:0px;
}

/*navbar*/
.search button{
    border-radius: 8px;
    border: none;
    color:#fff;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #2c456d;
    width:100px;
    height:40px;
    transition: 0.3s;
}

.search button:hover{
    color:#fff;
    transform: translateY(2px);
}

.search{
    display: flex;
}

.navbar .nav-link {
    color: black;
    transition: all 0.35s ease;
}

.navbar .nav-link:hover {
    transform: translateY(2px);
    color: var(--body);
}

.nav-item .toggle {
    font-size:30px;
}

.form-control {
    width: 120px;
    margin-right: 10px;
    margin-left: 15px;
}

.about_us .nav-link {
    font-size: 25px;
    padding-top: 1px;
}

@media (max-width: 992px) {

    .navbar-nav {
      margin-top: 10px; 
    }

    .navbar-nav .nav-item {
      padding: 5px 15px; 
    }

    .navbar-brand {
      font-size: 24px;
    }

    .navbar-nav button{
        margin-top:40px;
        width:100px;
        height:40px;
    }

    .navbar-nav form {
        margin-top: 40px;
    }

    .dropdown-menu{
        margin-top: 70px;
    }
    
  }


.title {
    margin-top: 50px;
    margin-bottom: 10px;
}

/*card*/




.icons a {
    width:54px;
    height:54px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 100px;
    flex:none;
    margin-left: 30px;
    transition: all 0.35s ease;
}

.main_article img {
    width: 100%;
    height: 100%;
}

.ric_article img {
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.partition {
    margin-bottom: 100px;
    margin-top: 45px;
}

.icons {
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-top {
    background-color: primary;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 100px;
}



.footer-top a:hover {
    color:var(--primary);
}



.hero_title { 
    margin-top: 70px;
}

.subscribe {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

.bx {
    font-size: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.article img {
    width: 58%;
    height: fit-content;
    margin-top: 80px;
    border-radius: 20px;
}

.title h1,p {
    margin-top:100px;
    width: 500px;
    
}




.main p{
    margin:30px;
    width:75%;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.main h3{
    margin:30px;
    width:75%;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.main{
    margin-top:80px;
    
}

.a { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img {
    max-height: 30%;
    max-width: 30%;
    margin-right:100px;
    margin-bottom: 50px;
    border-radius: 20px;
}



.line img{
    width :100px;
    height:200px;
    margin-right:50px;
}

.share {
    text-align: left;
    margin-top: 15px; 
    padding-right: 630px;
}


.footer{
    padding-top: 0px;
}

.footer h1{
    margin-top:80px;
}

.share .bx{
    margin-top:15px;
}

.footer_btn{
    margin-top:90px;
    font-size: 25px;
}

.join_us{
    text-align: center;
    margin:50px auto;
    width:600px;
    padding:20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.join_button{
    display: inline-block;
    text-align: center;
    
}

.join_us button{
    font-size: 25px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #2c456d;
    color:#fff;
    border:none;
    transition: 0.3s;
}

.join_us button:hover{
    transform:translateY(5px);
}

.bbb{
    text-align: center;
    margin:50px auto;
}


/*comment form*/

.comment_title{
    display: flex;
}

.comment_title h2{
    margin-top: 70px;
}

.comment_title button{
    margin-top: 70px;
    height:fit-content;
    border-radius: 100%;
    padding: 0px 10px;
    margin-left: 10px;
    border:none;
}

.comment{
    margin-left: 20%;
    margin-right: 20%;
}

.user_comment{
    margin-top: 30px;
}

.comment_button{
    display:none;
}

.user_comment p{
    margin:0px;
}

.comment_date{
    margin-top:0px;
    font-size:13px;
    color: #888;
    width:28%;
}



.comment_info a{
    font-size: 14px;
    color:#888;
    margin:0px 10px;
    text-decoration: 1px solid #888;
}


.comment_info a:hover{
    font-size: 14px;
    color:#0d6efd;
}



.comment_info{
    display: flex;
}

.comment-form .form-control{
    width:80%;
}

.comment-form button{
    margin-left:70%;
    background-color: #2c456d;
    border-radius: 8px;
    font-size: 100%;
    color: #fff;
    padding: 5px 8px;
    transition: 0.2s;
}

.comment-form button:hover{
    transform: translateY(2px);
}





