@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

body {
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: black;
}

h1,h2,h3,h4,h5,h6,.display-4 {
    color: var(--dark);
    font-weight: 700;
}

.title { 
    font-size: 20px;
    font-weight: 100;
}
a {
    color: var(--dark);
    text-decoration: none;
}


/*navbar*/
.search button{
    border-radius: 20px;
    border: none;
    color:#fff;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #0d6efd;
    width:100px;
    height:40px;
    transition: 0.3s;
}

.search button:hover{
    color:#fff;
    transform: translateY(2px);
}

.search{
    display: flex;
}

.navbar .nav-link {
    color: black;
    transition: all 0.35s ease;
}

.navbar .nav-link:hover {
    transform: translateY(2px);
    color: var(--body);
}

.nav-item .toggle {
    font-size:30px;
}

.form-control {
    width: 120px;
    margin-right: 10px;
    margin-left: 15px;
}

.about_us .nav-link {
    font-size: 25px;
    padding-top: 1px;
}

@media (max-width: 992px) {

    .navbar-nav {
      margin-top: 10px; 
    }

    .navbar-nav .nav-item {
      padding: 5px 15px; 
    }

    .navbar-brand {
      font-size: 24px;
    }

    .navbar-nav button{
        margin-top:40px;
        width:100px;
        height:40px;
    }

    .navbar-nav form {
        margin-top: 40px;
    }

    .dropdown-menu{
        margin-top: 70px;
    }
    
  }


.title {
    margin-top: 50px;
    margin-bottom: 10px;
}

/*card*/

.card-effect {
    padding:20px;
    transition: all 0.4s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.card-effect:hover p {
    color: var(--primary);
}

.ric_article {
    transition:all 0.35s ease;
    padding-top:30px;
}

.ric_article:hover {
    transform: translateY(5px);
}
.icons a {
    width:54px;
    height:54px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 100px;
    flex:none;
    margin-left: 30px;
    transition: all 0.35s ease;
}

.main_article img {
    width: 100%;
    height: 100%;
}

.ric_article img {
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.partition {
    margin-bottom: 100px;
    margin-top: 45px;
}

.icons {
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
}



.hero_title { 
    margin-top: 70px;
}

.subscribe {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

.bx {
    font-size: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.article img {
    width: 55%;
    height: auto;
    max-height: 400px;
    margin-top: 80px;
}

.title h1,p {
    margin-top:100px;
    width: 500px;
}



.author{ 
    display: flex;
    align-items: center;
    height:60px;
}

.author p{
    margin-left:30px;
    padding-bottom:35px;
}

.author-image{
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    width:50px !important;
    height:50px !important;
    border-radius: 100px;
    padding-top:0px;
}

.author_info{
    max-height:100px;
}

.author_info p{
    margin-top:65px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.author .pub_date{
    margin-top:0px;
}

.main p,h3 {
    margin:30px;
    width:800px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.main{
    margin-top:80px;
    
}

.a { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img {
    max-width: 100%;
    height: auto;
}



.line img{
    width :5px;
    height:200px;
    margin-right:50px;
}

.share {
    text-align: left;
    margin-top: 15px; 
    padding-right: 630px;
}


.share .bx{
    margin-top:15px;
}

